@font-face {
    font-family: Fraunces;
    src: url("fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-VariableFont_wght.ttf");
}


body{
    background-color: hsl(30, 38%, 92%)
}

.product h6{
    color:hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    letter-spacing: 4px;
}

.productBox{
    width: 600px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border-color: white;
    display: flex;
    flex-direction: row;
}
.productImage{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productDescription{
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.price{
    display: flex;
    flex-direction: row;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 2em;
}

h2 {
    color: hsl(158, 36%, 37%);
    margin-top: 0%;
    font-size: xx-large;
    font-family: "Fraunces";
    font-weight: 700;
}

.price p{
    text-align: center;
    text-decoration: line-through;
    top: 50%;
    height: 100%;
    margin-left: 40px;
}

p {
    color:hsl(228, 12%, 48%);
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
}

button {
    border-radius: 10px;
    border-color: white;
    background-color: hsl(158, 36%, 37%);
    color: white;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    border-color: white;
    font-family: "Montserrat";
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:hover {
    background-color: hsl(159, 36%, 15%);
    cursor: pointer;
}

button img{
    padding-top: 1em;
    padding-right: 1em;
}

button span{
    padding-top: 1em;
}

footer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
}

@media screen and (max-width:375px){
    .productBox{
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
    .productImage{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-color: white;
        width: 100%;
        height: 40%;
        object-fit: cover;
    }


    .productDescription{
        width: 100%;
        height: 60%;
        padding: 0px;
    }


    .product{
        padding-left: 20px;
        padding-right: 20px;
        height: 65%;
        overflow: auto;
    }
    .productDescriptionBottom{
        width: 100%;
        position: absolute;
        bottom: 10px;
    }

    button {
        width: 90%;
        margin-left: 5%;
    }

    .price{
        padding-left: 20px;
        padding-right: 20px;
    }

    h2{
        margin-block-end: 0;
    }

}